In [21]:
# conda install -c conda-forge r-dplyr
# install.packages('dplyr')
library(dplyr)

- __"Key Functions in dplyr for Data Manipulation in R"__

1. `filter`: Select rows from a data frame based on specified conditions.
2. `slice`: Select specific rows from a data frame by their indices.
3. `arrange`: Sort rows of a data frame based on specified variables.
4. `select`: Choose specific columns from a data frame.
5. `rename`: Change the names of columns in a data frame.
6. `reorder`: Rearrange the order of columns in a data frame.
7. `mutate`: Create new columns or modify existing columns in a data frame.
8. `summarize`: Calculate summary statistics or aggregations for specific columns in a data frame.

In [22]:
# Get the data

head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [23]:
# filter the cars with mileage more than 25
mtcars %>% filter(mpg>25)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2

In [24]:
# slice the data taking rows 12:20
mtcars %>% slice(12:20)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

In [25]:
# To get the top 10 records from data 
mtcars %>% slice_head(n=10)

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [26]:
# To get the top 10 records from specific column
mtcars %>% slice_max(mpg,n=10)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1

In [28]:
# To get the bottom 10 records from specific column
mtcars %>% slice_min(mpg,n=10)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4

In [31]:
# arrange in ascending order
head(mtcars %>% arrange(mpg))

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [34]:
# arrange in descending order
head(mtcars %>% arrange(desc(mpg)))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

In [53]:
# Select columns
head(mtcars %>% select(mpg,cyl,hp))

                  mpg  cyl hp
Mazda RX4         21.0 6   110
Mazda RX4 Wag     21.0 6   110
Datsun 710        22.8 4    93
Hornet 4 Drive    21.4 6   110
Hornet Sportabout 18.7 8   175
Valiant           18.1 6   105

In [52]:
# Select columns in a sequence
head(mtcars %>% select(mpg:hp))

                  mpg  cyl disp hp
Mazda RX4         21.0 6   160  110
Mazda RX4 Wag     21.0 6   160  110
Datsun 710        22.8 4   108   93
Hornet 4 Drive    21.4 6   258  110
Hornet Sportabout 18.7 8   360  175
Valiant           18.1 6   225  105

In [51]:
# Exclude specific columns 
head(mtcars %>% select(!c(mpg,cyl,hp)))

                  disp drat wt    qsec  vs am gear carb
Mazda RX4         160  3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     160  3.90 2.875 17.02 0  1  4    4
Datsun 710        108  3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    258  3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 360  3.15 3.440 17.02 0  0  3    2
Valiant           225  2.76 3.460 20.22 1  0  3    1

In [50]:
# Exclude based regular expressions 
head(iris %>% select(ends_with('Length')))

  Sepal.Length Petal.Length
1 5.1          1.4
2 4.9          1.4
3 4.7          1.3
4 4.6          1.5
5 5.0          1.4
6 5.4          1.7

In [36]:
### combine multiple operations together ###
# Get the cars with mpg >25 
# and show the wt for top 10 cars 
mtcars %>% filter(mpg >25) %>% slice_max(wt,n=3)

              mpg  cyl disp  hp drat wt    qsec  vs am gear carb
Fiat 128      32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1
Porsche 914-2 26.0 4   120.3 91 4.43 2.140 16.70 0  1  5    2
Fiat X1-9     27.3 4    79.0 66 4.08 1.935 18.90 1  1  4    1

In [49]:
# rename specific column
head(mtcars %>% rename(miles_per_gallon = mpg))

                  miles_per_gallon cyl disp hp  drat wt    qsec  vs am gear
Mazda RX4         21.0             6   160  110 3.90 2.620 16.46 0  1  4
Mazda RX4 Wag     21.0             6   160  110 3.90 2.875 17.02 0  1  4
Datsun 710        22.8             4   108   93 3.85 2.320 18.61 1  1  4
Hornet 4 Drive    21.4             6   258  110 3.08 3.215 19.44 1  0  3
Hornet Sportabout 18.7             8   360  175 3.15 3.440 17.02 0  0  3
Valiant           18.1             6   225  105 2.76 3.460 20.22 1  0  3
                  carb
Mazda RX4         4
Mazda RX4 Wag     4
Datsun 710        1
Hornet 4 Drive    1
Hornet Sportabout 2
Valiant           1

In [48]:
# Creating new column : mileage in km
# formula : 1 mile = 1.61 km
head(mtcars %>% mutate(mpg_km = mpg*1.61))

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb mpg_km
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    33.810
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    33.810
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    36.708
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.454
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    30.107
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    29.141

In [47]:
# Creating 2 new columns
head(mtcars %>% mutate(mpg_km = mpg*1.61,mpg_wt = mpg/wt))

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb mpg_km
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    33.810
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    33.810
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    36.708
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.454
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    30.107
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    29.141
                  mpg_wt
Mazda RX4         8.015267
Mazda RX4 Wag     7.304348
Datsun 710        9.827586
Hornet 4 Drive    6.656299
Hornet Sportabout 5.436047
Valiant           5.231214

In [46]:
head(mtcars %>% relocate(hp, .before = cyl))

                  mpg  hp  cyl disp drat wt    qsec  vs am gear carb
Mazda RX4         21.0 110 6   160  3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 110 6   160  3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8  93 4   108  3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 110 6   258  3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 175 8   360  3.15 3.440 17.02 0  0  3    2
Valiant           18.1 105 6   225  2.76 3.460 20.22 1  0  3    1

In [ ]:
## Load data

trans<-read.csv("Data/Transactions_New.csv",stringsAsFactors = T)

#### When stringsAsFactors = TRUE, the character columns in the dataset are converted to factors. Factors are a data type in R that represent categorical variables. They are useful for representing variables with a limited set of discrete values.

In [7]:
head(trans)

  ID Amount Date
1 1   4     12/7/2017
2 1  11     12-8-2017
3 1   6     13-10-2017
4 1  11     13-8-2017
5 1   1     16-11-2017
6 1   7     30-7-2017

In [8]:
# dtypes

str(trans)

'data.frame':	74977 obs. of  3 variables:
 $ ID    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Amount: int  4 11 6 11 1 7 5 3 18 18 ...
 $ Date  : Factor w/ 195 levels "02/10/17","04/08/17",..: 37 32 38 42 57 157 165 166 168 195 ...

In [10]:
## Get the sum of each Customer ID

data_trans = trans %>% group_by(ID) %>% summarise(Total_Amount=sum(Amount))

head(data_trans)

  ID Total_Amount
1 1   84
2 2  175
3 3  248
4 4  156
5 5  112
6 6  109

In [11]:
## Compute Average of each ID

data_trans = trans %>% group_by(ID) %>% summarise(Total=sum(Amount),Count = n(),Average=sum(Amount)/n())

head(data_trans)

  ID Total Count Average
1 1   84   10     8.400000
2 2  175   18     9.722222
3 3  248   20    12.400000
4 4  156   17     9.176471
5 5  112   14     8.000000
6 6  109   13     8.384615

In [12]:
## Arrange the average Amount

data_trans = trans %>% group_by(ID) %>% summarise(Total=sum(Amount),Count = n(),Average=sum(Amount)/n()) %>% arrange(Average)

head(data_trans)

  ID   Total Count Average
1   60 63    12    5.250000
2 4618 58    11    5.272727
3 1305 83    15    5.533333
4 2033 73    13    5.615385
5 4530 57    10    5.700000
6 2856 64    11    5.818182

In [15]:
## Arrange the average Amount in descending order

data_trans = trans %>% group_by(ID) %>% summarise(Total=sum(Amount),Count = n(),Average=sum(Amount)/n()) %>% 
arrange(desc(Average))

head(data_trans)

  ID   Total Count Average
1 1789 184   12    15.33333
2  348 199   13    15.30769
3 1494 259   17    15.23529
4   59 151   10    15.10000
5 1787 166   11    15.09091
6  814 181   12    15.08333

In [16]:
## Arrange the average Amount in descending order - Filter the rows which have Avarage > 14.5

data_trans = trans %>% group_by(ID) %>% summarise(Total=sum(Amount),Count = n(),Average=sum(Amount)/n()) %>%
arrange(desc(Average))  %>% filter(Average > 14.5)

head(data_trans)

  ID   Total Count Average
1 1789 184   12    15.33333
2  348 199   13    15.30769
3 1494 259   17    15.23529
4   59 151   10    15.10000
5 1787 166   11    15.09091
6  814 181   12    15.08333

#### Date manipulations

In [55]:
head(trans)

  ID Amount Date
1 1   4     12/7/2017
2 1  11     12-8-2017
3 1   6     13-10-2017
4 1  11     13-8-2017
5 1   1     16-11-2017
6 1   7     30-7-2017

In [58]:
## Bring date to a uniform format
# library(lubridate)
data_date = trans%>%
  mutate(Date=gsub("-","/",trans$Date))

head(data_date)

  ID Amount Date
1 1   4     12/7/2017
2 1  11     12/8/2017
3 1   6     13/10/2017
4 1  11     13/8/2017
5 1   1     16/11/2017
6 1   7     30/7/2017

In [59]:
str(data_date)

'data.frame':	74977 obs. of  3 variables:
 $ ID    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Amount: int  4 11 6 11 1 7 5 3 18 18 ...
 $ Date  : chr  "12/7/2017" "12/8/2017" "13/10/2017" "13/8/2017" ...

In [63]:
## Convert the Date column to Date format

data_date = trans%>%
  mutate(Date=gsub("-","/",trans$Date)) %>%
  mutate(Date=as.Date(Date,format="%d/%m/%Y"))


str(data_date)

'data.frame':	74977 obs. of  3 variables:
 $ ID    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Amount: int  4 11 6 11 1 7 5 3 18 18 ...
 $ Date  : Date, format: "2017-07-12" "2017-08-12" ...