- In this notebook, we will work on a case study where we will learn how the data needs to be prepared to analyze and apply any ML algorithms

#### Problem Statement
__Case__
- Given is a data about customers of a bank. At some point, the bank wants to use an automatic system to predict whether loan can be granted to a customer based on his/her credentials. But before building that system, we need to clearly understand the data and prepare the data accordingly. This exercise gives you a glimpse of general pre-processing aspects followed during data preparation.

- __Steps involved:__

    1. Read the data and preliminary analysis of data
        - How many records and how many variables are available in data
        - What are the data types that are available
        - Structure and basic summary of the data
    2. Variable interpretation- checking weither R interpreted the variable types correctly or not
        - If not then perform a type conversion
    3. Missing value analysis
    
    4. Creating different kinds of data
        - Binning the numeric variables
        - Dummification of categorical attributes
        - Data standardization

### 1. Read the data and preliminary analysis of data

In [12]:
# Read the data

data = read.csv('Data/Bank.csv')

In [13]:
# Undertanding data structure (similar to data.dtypes in python)

str(data)

'data.frame':	5000 obs. of  14 variables:
 $ ID                : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Age               : int  25 45 39 35 35 37 53 50 35 34 ...
 $ Experience        : int  1 19 15 9 8 13 27 24 10 9 ...
 $ Income            : int  49 34 11 100 45 29 72 22 81 180 ...
 $ ZIP.Code          : int  91107 90089 94720 94112 91330 92121 91711 93943 90089 93023 ...
 $ Family            : int  4 3 1 1 4 4 2 1 3 1 ...
 $ CCAvg             : num  1.6 1.5 1 2.7 1 0.4 1.5 0.3 0.6 8.9 ...
 $ Education         : int  1 1 1 2 2 2 2 3 2 3 ...
 $ Mortgage          : int  0 0 0 0 0 155 0 0 104 0 ...
 $ Personal.Loan     : int  0 0 0 0 0 0 0 0 0 1 ...
 $ Securities.Account: int  1 1 0 0 0 0 0 0 0 0 ...
 $ CD.Account        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Online            : int  0 0 0 0 0 1 1 0 1 0 ...
 $ CreditCard        : int  0 0 0 0 1 0 0 1 0 0 ...

- Identify the numeric and categorical attributes in the data

Here we need to identify the correct datatype. That can be done by understanding the data
and having knowledge about the domain can help.

In [17]:
# view the top data (similar to data.head(10) in python )

head(data,10)
# tail(data,5)

   ID Age Experience Income ZIP.Code Family CCAvg Education Mortgage
1   1 25   1          49    91107    4      1.6   1           0
2   2 45  19          34    90089    3      1.5   1           0
3   3 39  15          11    94720    1      1.0   1           0
4   4 35   9         100    94112    1      2.7   2           0
5   5 35   8          45    91330    4      1.0   2           0
6   6 37  13          29    92121    4      0.4   2         155
7   7 53  27          72    91711    2      1.5   2           0
8   8 50  24          22    93943    1      0.3   3           0
9   9 35  10          81    90089    3      0.6   2         104
10 10 34   9         180    93023    1      8.9   3           0
   Personal.Loan Securities.Account CD.Account Online CreditCard
1  0             1                  0          0      0
2  0             1                  0          0      0
3  0             0                  0          0      0
4  0             0                  0          0      0
5  0             0                  0          0      1
6  0             0                  0          1      0
7  0             0                  0          1      0
8  0             0                  0          0      1
9  0             0                  0          1      0
10 1             0                  0          0      0

In [19]:
# Describing the data ( similar to data.describe() in python)

summary(data)

       ID            Age          Experience       Income          ZIP.Code
 Min.   :   1   Min.   :23.00   Min.   :-3.0   Min.   :  8.00   Min.   : 9307
 1st Qu.:1251   1st Qu.:35.00   1st Qu.:10.0   1st Qu.: 39.00   1st Qu.:91911
 Median :2500   Median :45.00   Median :20.0   Median : 64.00   Median :93437
 Mean   :2500   Mean   :45.34   Mean   :20.1   Mean   : 73.77   Mean   :93153
 3rd Qu.:3750   3rd Qu.:55.00   3rd Qu.:30.0   3rd Qu.: 98.00   3rd Qu.:94608
 Max.   :5000   Max.   :67.00   Max.   :43.0   Max.   :224.00   Max.   :96651
     Family          CCAvg          Education        Mortgage
 Min.   :1.000   Min.   : 0.000   Min.   :1.000   Min.   :  0.0
 1st Qu.:1.000   1st Qu.: 0.700   1st Qu.:1.000   1st Qu.:  0.0
 Median :2.000   Median : 1.500   Median :2.000   Median :  0.0
 Mean   :2.396   Mean   : 1.938   Mean   :1.881   Mean   : 56.5
 3rd Qu.:3.000   3rd Qu.: 2.500   3rd Qu.:3.000   3rd Qu.:101.0
 Max.   :4.000   Max.   :10.000   Max.   :3.000   Max.   :635.0
 Personal.Loan   Securities.Account   CD.Account         Online
 Min.   :0.000   Min.   :0.0000     Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.000   1st Qu.:0.0000     1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.000   Median :0.0000     Median :0.0000   Median :1.0000
 Mean   :0.096   Mean   :0.1044     Mean   :0.0604   Mean   :0.5968
 3rd Qu.:0.000   3rd Qu.:0.0000     3rd Qu.:0.0000   3rd Qu.:1.0000
 Max.   :1.000   Max.   :1.0000     Max.   :1.0000   Max.   :1.0000
   CreditCard
 Min.   :0.000
 1st Qu.:0.000
 Median :0.000
 Mean   :0.294
 3rd Qu.:1.000
 Max.   :1.000

In [23]:
# Print the column names of dataframe (similar to data.columns in python)

names(data)

 [1] "ID"                 "Age"                "Experience"
 [4] "Income"             "ZIP.Code"           "Family"
 [7] "CCAvg"              "Education"          "Mortgage"
[10] "Personal.Loan"      "Securities.Account" "CD.Account"
[13] "Online"             "CreditCard"

### 2. Variable interpretation- checking weither R interpreted the variable types correctly or not

__Identifing and Sepearating numeric and categorical attributes and make explicit type conversion__

__a. Categorical__

In [ ]:
### Categorical attributes- Family, Education, Personal loan, Security,CD, Online, CC



cat_att = c("Family","Education","Personal.Loan","CD.Account",
           "Securities.Account","Online","CreditCard")

###### c is a function in R that is used to combine or concatenate elements into a vector. It stands for "combine" or "concatenate."

In [26]:
# Accessing the cat columns from dataframe and storing it seperately

cat_data = data[cat_att]

In [27]:
head(cat_data)

  Family Education Personal.Loan CD.Account Securities.Account Online
1 4      1         0             0          1                  0
2 3      1         0             0          1                  0
3 1      1         0             0          0                  0
4 1      2         0             0          0                  0
5 4      2         0             0          0                  0
6 4      2         0             0          0                  1
  CreditCard
1 0
2 0
3 0
4 0
5 1
6 0

In [28]:
## converting the columns to factor using as.factor - Type conversion

cat_data = data.frame(lapply(cat_data,FUN=as.factor))

- __The data.frame function in R is used to create a data frame object.__
- __The lapply function in R is used to apply a given function to each element of a list or vector. It stands for "list apply." It takes two main arguments: the list or vector to apply the function to, and the function itself.__

In [30]:
# Now we can see the categorical attributes are changed to factors

str(cat_data)

'data.frame':	5000 obs. of  7 variables:
 $ Family            : Factor w/ 4 levels "1","2","3","4": 4 3 1 1 4 4 2 1 3 1 ...
 $ Education         : Factor w/ 3 levels "1","2","3": 1 1 1 2 2 2 2 3 2 3 ...
 $ Personal.Loan     : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 2 ...
 $ CD.Account        : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ Securities.Account: Factor w/ 2 levels "0","1": 2 2 1 1 1 1 1 1 1 1 ...
 $ Online            : Factor w/ 2 levels "0","1": 1 1 1 1 1 2 2 1 2 1 ...
 $ CreditCard        : Factor w/ 2 levels "0","1": 1 1 1 1 2 1 1 2 1 1 ...

__b. Numerical__

In [32]:
## Fetching the numeric attributes from the dataframe

num_data<-data[!names(data)%in%cat_att]
names(num_data)

# names(data) retrieves the column names of the data data frame.
# %in% is the R operator used to check if elements are present in a vector. 
# cat_att is the vector containing the names of categorical attributes.
# ! is the negation operator in R. It negates the logical vector produced by %in%.

[1] "ID"         "Age"        "Experience" "Income"     "ZIP.Code"
[6] "CCAvg"      "Mortgage"

In [33]:
head(num_data)

  ID Age Experience Income ZIP.Code CCAvg Mortgage
1 1  25   1          49    91107    1.6     0
2 2  45  19          34    90089    1.5     0
3 3  39  15          11    94720    1.0     0
4 4  35   9         100    94112    2.7     0
5 5  35   8          45    91330    1.0     0
6 6  37  13          29    92121    0.4   155


- ID is basically a reference element. For example a bank doesn't decide upon whether to provide loan or not based on account number or university givne grades or based on admission number

- If Zipcode attribute contains many unique values, then using this attribute for model building is not good.

In [34]:
## Dropping ID and ZIP Code

num_data = subset(num_data,select=-c(ID,ZIP.Code))

# subset() function: In R, the subset() function is used to subset or filter data frames based on specific conditions. 
# It takes a data frame as its first argument and allows you to specify conditions to select or exclude specific rows or columns.

# select = -c(ID, ZIP.Code): The select argument in the subset() function is used to specify which columns to select or exclude. 
# In this case, the -c(ID, ZIP.Code) indicates that we want to exclude the "ID" and "ZIP.Code" columns.

In [35]:
head(num_data)

  Age Experience Income CCAvg Mortgage
1 25   1          49    1.6     0
2 45  19          34    1.5     0
3 39  15          11    1.0     0
4 35   9         100    2.7     0
5 35   8          45    1.0     0
6 37  13          29    0.4   155